* text=auto !eol
freeglut/freeglut/.cvsignore -text
freeglut/freeglut/AUTHORS -text
freeglut/freeglut/COPYING -text
freeglut/freeglut/ChangeLog -text
freeglut/freeglut/FrequentlyAskedQuestions -text
freeglut/freeglut/LISEZ_MOI -text
freeglut/freeglut/Makefile.am -text
freeglut/freeglut/NEWS -text
freeglut/freeglut/README -text
freeglut/freeglut/README.win32 -text
freeglut/freeglut/TODO -text
freeglut/freeglut/autogen.sh -text
freeglut/freeglut/configure.ac -text
freeglut/freeglut/doc/.cvsignore -text
freeglut/freeglut/doc/Makefile.am -text
freeglut/freeglut/doc/download.html -text
freeglut/freeglut/doc/freeglut.html -text
freeglut/freeglut/doc/freeglut_logo.png -text
freeglut/freeglut/doc/freeglut_user_interface.html -text
freeglut/freeglut/doc/index.html -text
freeglut/freeglut/doc/ogl_sm.png -text
freeglut/freeglut/doc/progress.html -text
freeglut/freeglut/doc/structure.html -text
freeglut/freeglut/freeglut.dep -text
freeglut/freeglut/freeglut.dsp -text
freeglut/freeglut/freeglut.dsw -text
freeglut/freeglut/freeglut.kdevelop -text
freeglut/freeglut/freeglut.kdevprj -text
freeglut/freeglut/freeglut.lsm -text
freeglut/freeglut/freeglut.mak -text
freeglut/freeglut/freeglut.rc -text
freeglut/freeglut/freeglut.spec -text
freeglut/freeglut/freeglut.tgt -text
freeglut/freeglut/freeglut.wpj -text
freeglut/freeglut/freeglut_evc4.vcp -text
freeglut/freeglut/freeglut_evc4.vcw -text
freeglut/freeglut/freeglut_static.dep -text
freeglut/freeglut/freeglut_static.dsp -text
freeglut/freeglut/freeglut_static.mak -text
freeglut/freeglut/freeglut_static.tgt -text
freeglut/freeglut/include/.cvsignore -text
freeglut/freeglut/include/GL/.cvsignore -text
freeglut/freeglut/include/GL/Makefile.am -text
freeglut/freeglut/include/GL/freeglut.h -text
freeglut/freeglut/include/GL/freeglut_ext.h -text
freeglut/freeglut/include/GL/freeglut_std.h -text
freeglut/freeglut/include/GL/glut.h -text
freeglut/freeglut/include/Makefile.am -text
freeglut/freeglut/progs/.cvsignore -text
freeglut/freeglut/progs/Makefile.am -text
freeglut/freeglut/progs/demos/.cvsignore -text
freeglut/freeglut/progs/demos/CallbackMaker/.cvsignore -text
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMaker.c -text
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMaker.dsp -text
freeglut/freeglut/progs/demos/CallbackMaker/CallbackMakerStatic.dsp -text
freeglut/freeglut/progs/demos/CallbackMaker/Makefile.am -text
freeglut/freeglut/progs/demos/Fractals/.cvsignore -text
freeglut/freeglut/progs/demos/Fractals/Fractals.dsp -text
freeglut/freeglut/progs/demos/Fractals/FractalsStatic.dsp -text
freeglut/freeglut/progs/demos/Fractals/Makefile.am -text
freeglut/freeglut/progs/demos/Fractals/fractals.c -text
freeglut/freeglut/progs/demos/Fractals/fractals.dat -text
freeglut/freeglut/progs/demos/Fractals_random/.cvsignore -text
freeglut/freeglut/progs/demos/Fractals_random/Fractals_random.dsp -text
freeglut/freeglut/progs/demos/Fractals_random/Fractals_randomStatic.dsp -text
freeglut/freeglut/progs/demos/Fractals_random/Makefile.am -text
freeglut/freeglut/progs/demos/Fractals_random/fractals.dat -text
freeglut/freeglut/progs/demos/Fractals_random/fractals_random.c -text
freeglut/freeglut/progs/demos/Lorenz/.cvsignore -text
freeglut/freeglut/progs/demos/Lorenz/Makefile.am -text
freeglut/freeglut/progs/demos/Lorenz/lorenz.c -text
freeglut/freeglut/progs/demos/Lorenz/lorenz.dsp -text
freeglut/freeglut/progs/demos/Lorenz/lorenzStatic.dsp -text
freeglut/freeglut/progs/demos/Makefile.am -text
freeglut/freeglut/progs/demos/One/.cvsignore -text
freeglut/freeglut/progs/demos/One/Makefile.am -text
freeglut/freeglut/progs/demos/One/one.c -text
freeglut/freeglut/progs/demos/One/one.dsp -text
freeglut/freeglut/progs/demos/One/oneStatic.dsp -text
freeglut/freeglut/progs/demos/demos.dsw -text
freeglut/freeglut/progs/demos/shapes/.cvsignore -text
freeglut/freeglut/progs/demos/shapes/Makefile.am -text
freeglut/freeglut/progs/demos/shapes/shapes.c -text
freeglut/freeglut/progs/demos/shapes/shapes.dsp -text
freeglut/freeglut/progs/demos/shapes/shapesStatic.dsp -text
freeglut/freeglut/src/.cvsignore -text
freeglut/freeglut/src/Makefile.am -text
freeglut/freeglut/src/freeglut_callbacks.c -text
freeglut/freeglut/src/freeglut_cursor.c -text
freeglut/freeglut/src/freeglut_display.c -text
freeglut/freeglut/src/freeglut_ext.c -text
freeglut/freeglut/src/freeglut_font.c -text
freeglut/freeglut/src/freeglut_font_data.c -text
freeglut/freeglut/src/freeglut_gamemode.c -text
freeglut/freeglut/src/freeglut_geometry.c -text
freeglut/freeglut/src/freeglut_glutfont_definitions.c -text
freeglut/freeglut/src/freeglut_init.c -text
freeglut/freeglut/src/freeglut_input_devices.c -text
freeglut/freeglut/src/freeglut_internal.h -text
freeglut/freeglut/src/freeglut_joystick.c -text
freeglut/freeglut/src/freeglut_main.c -text
freeglut/freeglut/src/freeglut_menu.c -text
freeglut/freeglut/src/freeglut_misc.c -text
freeglut/freeglut/src/freeglut_overlay.c -text
freeglut/freeglut/src/freeglut_state.c -text
freeglut/freeglut/src/freeglut_stroke_mono_roman.c -text
freeglut/freeglut/src/freeglut_stroke_roman.c -text
freeglut/freeglut/src/freeglut_structure.c -text
freeglut/freeglut/src/freeglut_teapot.c -text
freeglut/freeglut/src/freeglut_teapot_data.h -text
freeglut/freeglut/src/freeglut_videoresize.c -text
freeglut/freeglut/src/freeglut_window.c -text
freeglut/freeglut/src/freeglutdll.def -text
freeglut/freeglut/src/templates/cpp_template -text
freeglut/freeglut/src/templates/header_template -text
